.garbageCollectorClearMe {
  display: none;
}

.light {
  background: linear-gradient( rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.83) ), url("https://cdn.dynamicwallpaper.club/wallpapers/jqc5oqev0br/thumbs/1600/11.jpg");
}

.dark {
  background: linear-gradient( rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83) ), url("https://cdn.dynamicwallpaper.club/wallpapers/jqc5oqev0br/thumbs/1600/11.jpg");
}

.hero__poster-image {
  display: none;

  @media screen and (max-width: 640px) {
    display: block;
  }
}

.hero__poster-shadow {
  display: none;

  @media screen and (max-width: 640px) {
    display: block;
    border-bottom: 2px solid palevioletred;
  }
}

.scrollableCardsShadow {
  display: none;
}