.light {
  background: linear-gradient( rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.87) ), url("https://cdn.dynamicwallpaper.club/wallpapers/jqc5oqev0br/thumbs/1600/11.jpg");
}

.dark {
  background: linear-gradient( rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87) ), url("https://cdn.dynamicwallpaper.club/wallpapers/jqc5oqev0br/thumbs/1600/11.jpg");
}

.hero__poster-image {
  display: none;
}

.hero__poster-shadow {
  display: none;
}

.scrollableCardsShadow {
  display: none;
}